@model List<ProductModel>

<h1>Список имеющихся товаров</h1>

@{
    for (var i = 0; i < Model.Count; i++)
    {
        <div style="margin: 10px; border: solid black 1px;">
            <h3>
                <span>Товар @(i + 1) : @Model[i].Name</span>
            </h3>
            <p>Колличество: @Model[i].Amount</p>
            <p> Цена за единицу: @Model[i].Price</p>

            <table>
                <tbody>
                    <tr>
                        <td>
                            @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                            {

                                <input type="hidden" name="id" value="@Model[i].Id" />

                                <div>
                                    <input type="submit" value="Удалить" />
                                </div>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Change", "Home", FormMethod.Post))
                            {

                                <input type="hidden" name="id" value="@Model[i].Id" />
                                
                                <div>
                                    <input type="submit" value="Изменить" />
                                </div>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>

            
        </div>
    }  
}

<div class="container">
    <details>
        <summary>Быстрое добавление товара</summary>
        <div>@Html.Partial("Add")</div>
    </details>
</div>


